@import '../../../../theme/colors.scss';
#testimony {
    max-width: 600px;
    margin: auto;
    padding: 100px 15px;
    label {
        margin-left: 0;
    }
    textarea {
        height: unset;
        border-radius: 20px;
    }
}

form {
    button,
     ::ng-deep button {
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff !important;
        font-size: 18px;
        font-weight: bold;
        background-color: $secondary;
        border-radius: 100px;
        width: 100%;
        margin-bottom: 48px;
        margin-top: 80px;
    }
    button:focus,
     ::ng-deep button:focus {
        box-shadow: none;
    }
}