<input type="checkbox" id="drawer-toggle" name="drawer-toggle" />
<label for="drawer-toggle" id="drawer-toggle-label"></label>
<header class="admin-header">
    <app-admin-header></app-admin-header>
</header>

<nav id="drawer">
    <app-admin-nav-content></app-admin-nav-content>
</nav>

<div id="pageContents">
    <div id="adminWrapper">
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-3">
                        <app-support-manager-menu></app-support-manager-menu>
                    </div>

                    <div class="col-xl-10 col-lg-10 col-md-9">
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item">
                                                <a routerLink="/{{adminUrl}}">
													Dashboard
												</a>
                                            </li>
                                            <li class="breadcrumb-item active">
                                                <span>
													Supports
												</span>
                                            </li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">
                                        <span>
											Supports
										</span>
                                    </h4>
                                </div>
                            </div>
                        </div>


                        <div id="donations">
                            <div class="card card-body cardBody">
                                <div class="role-wrap">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item" [class.activeLink]="status == 'all'"><a routerLink="/{{adminUrl}}/support-manager" [class.activeLink]="status == 'all'">All</a></li>
                                                <li class="list-inline-item" [class.activeLink]="status == 'read'"><a routerLink="/{{adminUrl}}/support-manager/read" [class.activeLink]="status == 'read'">Read</a></li>
                                                <li class="list-inline-item" [class.activeLink]="status == 'unread'"><a routerLink="/{{adminUrl}}/support-manager/unread" [class.activeLink]="status == 'unread'">Unread</a></li>
                                            </ul>
                                        </div>

                                        <div class="composeBtn">
                                            <button class="btn btn-primary btn-sm" [openModal]="composeSup">Compose</button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="card card-body cardBodySup">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Date</th>
                                                <th>Subject</th>
                                                <th>Contents</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="supports && supports.length > 0">
                                            <tr *ngFor="let support of supports">
                                                <td style="width: 30px;">
                                                    <span *ngIf="support?.admin_status == 'unread' && support?.sender == 'user'"><i class="fa fa-envelope"></i></span>
                                                    <span *ngIf="support?.admin_status == 'read' && support?.sender == 'user'"><i class="fa fa-envelope-open-o"></i></span>
                                                    <span *ngIf="support?.sender == 'admin'"><i class="fa fa-envelope-open-o"></i></span>
                                                </td>
                                                <td>{{support?.created_at | date}}</td>
                                                <td>{{support?.subject | summary: 20}}</td>
                                                <td>{{support?.contents | summary: 40}}</td>
                                                <td>
                                                    <button class="btn btn-danger admin-btn-sm btn-sm" (click)="deleteSupport(support?.id)"><i class="fa fa-trash"></i></button>
                                                    <a class="btn btn-primary text-white btn-sm ml-3" routerLink="/{{adminUrl}}/support-manager/single/{{support?.id}}">View</a>
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody *ngIf="supports && supports.length < 1">
                                            <tr class="text-center">
                                                <td colspan="5">No Support Available</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="text-center mt-5">
                                <button *ngIf="supportsCounty > 0 && !isLoadMore" (click)="loadMore()" [disabled]="supportsCounty <= supports.length" class="btn btn-primary">Load more</button>
                                <button *ngIf="isLoadMore" disabled class="btn btn-primary"><i class="fa fa-spinner fa-spin"></i> Loading</button>
                            </div>
                        </div>
                        <app-admin-footer></app-admin-footer>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="modals">
    <app-modal #composeSup [closeModal]="closeModal">
        <div class="modalContent">
            <div class="modalHead">
                <span class="closeBtn">
                    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.5"
                            d="M12.026 0L7 5.026L1.974 0L0 1.974L5.026 7L0 12.026L1.974 14L7 8.974L12.026 14L14 12.026L8.974 7L14 1.974L12.026 0Z"
                            fill="#494949" />
                    </svg>
                </span>
            </div>

            <div class="modalBody">
                <div class="formBody">
                    <div class="successCont">
                        <div class="text-center mb-4">
                            <h5>Send Support</h5>
                        </div>
                        <form [formGroup]="form" (ngSubmit)="submit()">

                            <div class="form-group">
                                <label>Subject</label>
                                <input type="text" class="form-control" formControlName="subject">
                            </div>

                            <div>
                                <label>Select User</label>
                                <select class="form-control custom-select" formControlName="user_id">
                                    <option *ngFor="let user of allUsers" value="{{user?.id}}">{{user?.username}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control" formControlName="contents"></textarea>
                            </div>

                            <label>Attachment</label>
                            <div class="alert alert-danger mt-2" *ngIf="fileUploadError">
                                {{fileUploadError}}
                            </div>
                            <div class="adminUpload">
                                <div class="uploadWrapper text-center mb-4" style="position: relative;">
                                    <div *ngIf="theUploaded" class="deleteImg" (click)="removeUploadImg()">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                    <label *ngIf="removeLabel" class="uploadLabel" for="uploadFile">
                                            <i class="fa fa-upload uploadIcon"></i>
                                            <p>Click here to upload file</p>
                                        </label>
                                    <input type="text" formControlName="image" hidden>
                                    <input type="file" hidden class="form-control" id="uploadFile" name="uploadFile" (change)="onSelectedFile($event)">

                                    <div *ngIf="uploadingProgress > 0" class="progress uploadProgress">
                                        <span class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> 
                                            Uploading...{{ uploadingProgress }}%
                                            </span>
                                    </div>

                                    <img *ngIf="theUploaded" src="{{theUploaded}}" class="uploaded">
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <button *ngIf="!isAdding" type="submit" class="btn btn-primary">Send Support</button>
                                <button *ngIf="isAdding" class="btn btn-primary" type="button" disabled>
                                    <span class="spinner-border spinner-border-sm" 
                                    role="status" aria-hidden="true"></span>
                                    Sending Support...
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </app-modal>
</div>