// @import '../login/login.component.scss';
@import '../../../../theme/colors.scss';
.authPage {
    padding: 53px 15px 31px;
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-size: cover;
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 66px;
        img {
            max-width: 100%;
        }
    }
    .centeredCont {
        max-width: 786px;
        margin: auto;
        margin-bottom: 66px;
        border-radius: 10px;
        padding: 80px 20px;
        background: #fff;
        box-shadow: 0px 4px 40px #0000000d;
        form {
            max-width: 700px;
            margin: auto;
        }
        h4 {
            margin-bottom: 48px;
            text-align: center;
        }
    }
    .rememberMe {
        display: flex;
        input+label {
            display: flex;
            margin: 0;
            align-items: center;
            cursor: pointer;
            .cusCheck {
                border: 1px solid #494949;
                border-radius: 3px;
                width: 16px;
                min-width: 16px;
                height: 16px;
                margin-right: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    display: none;
                    color: #fff;
                    font-size: 14px;
                }
            }
        }
        input:checked+label {
            .cusCheck {
                border-color: $secondary;
                background: $secondary;
                i {
                    display: block;
                }
            }
        }
    }
    .forgotP {
        font-weight: 500;
        color: $secondary;
    }
    .rememberForgot {
        margin-bottom: 56px;
    }
    button,
     ::ng-deep button {
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        background-color: $secondary;
        border-radius: 100px;
        width: 100%;
        margin-bottom: 48px;
    }
    button:focus,
     ::ng-deep button:focus {
        box-shadow: none;
    }
    .altAuth {
        text-align: center;
        a {
            color: $secondary;
            font-weight: bold;
        }
    }
    .copyright {
        text-align: center;
    }
}

.gridCont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0 42px;
}

button[type="button"] {
    margin-top: 60px;
}

.rememberMe {
    margin-bottom: 50px;
    input+label {
        align-items: flex-start !important;
        a {
            color: $secondary;
        }
        .cusCheck {
            margin-top: 6px;
        }
    }
}

.interestList {
    margin-top: 20px;
    .dataa {
        background: #fff;
        color: $primary;
        padding: 4px 10px;
        cursor: pointer;
        border: 2px solid $primary;
        border-radius: 4px;
    }
    .custom-control-input:checked~.custom-control-label::before {
        border-color: $primary;
        background-color: $primary;
    }
}